*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f2f2f2;
}

header{
    background:#006400;
    color:white;
    text-align:center;
    padding:25px;
}

.container{
    width:80%;
    max-width:900px;
    margin:30px auto;
}

.noticia{
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

.noticia h2{
    color:#006400;
    margin-bottom:10px;
}

.informacoes{
    color:gray;
    margin-bottom:20px;
}

.noticia img{
    width:100%;
    border-radius:10px;
    margin:20px 0;
}

.noticia p{
    text-align:justify;
    line-height:1.8;
    margin-bottom:15px;
}

button{
    background:#009739;
    color:white;
    border:none;
    padding:12px 20px;
    cursor:pointer;
    border-radius:5px;
    font-size:16px;
}

button:hover{
    background:#007a2f;
}

#destaque{
    margin-top:20px;
    font-size:20px;
    font-weight:bold;
    color:#d40000;
}

footer{
    margin-top:40px;
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}